/* rubik-300 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v23-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v23-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v23-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v23-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v23-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-800 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik-v23-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  position: relative;
  font-style: normal;
  line-height: 1.5;
  color: #28303d;
  font-weight: 400;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.body {
  min-height: 100vh;
}
.body--inner-page {
  min-height: initial;
  padding-top: 144px;
}
.body--inner-page .header__grid {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 32px 0;
}
.body--inner-page.header-sticky .header__grid {
  border-color: transparent;
}
.body--inner-page .title {
  font-size: 80px;
  margin-bottom: 0.5em;
}
.body--about {
  padding-top: 112px;
}
@media (max-width: 1250px) {
  .body--inner-page {
    padding-top: 90px;
  }
}
@media (max-width: 768px) {
  .body--inner-page .title {
    font-size: 64px;
  }
}
@media (max-width: 425px) {
  .body--inner-page .title {
    font-size: 40px;
  }
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tech-list a {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #28303d;
  margin-bottom: 0.5em;
  max-width: max-content;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-list a {
  font-size: 16px;
  color: #28303d;
  transition: color 0.3s;
}
.navigation-list a:hover {
  color: #c70000;
}

.wrapper {
  max-width: 1600px;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 650px) {
  .wrapper {
    padding: 0 20px;
  }
}

.button {
  display: block;
  text-align: center;
  padding: 12px 24px;
  background: #ef3024;
  border-radius: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: 1px solid;
  border-color: #ef3024;
  max-width: max-content;
  transition: all 0.3s;
}
.button--transparent {
  background-color: transparent;
  color: #ef3024;
}
.button--white {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.button:hover {
  border-color: #C70000;
  background: #C70000;
  color: #ffffff;
}

.social-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  grid-template-columns: 18px 1fr;
  gap: 8px;
  display: grid !important;
  transition: color 0.3s;
  align-items: center;
  max-width: max-content;
}
.social-link::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/whatsapp.svg);
  background-repeat: no-repeat;
}
.social-link--telegram::before {
  background-image: url(../img/icons/telegram.svg);
}
.social-link:hover {
  color: rgba(199, 0, 0, 0.7);
}

.phone {
  font-weight: 500;
  font-size: 20px;
  color: rgba(40, 48, 61, 0.9);
  max-width: max-content;
}
.phone--icon {
  display: grid;
  grid-template-columns: 18px 1fr;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: rgba(40, 48, 61, 0.9);
  position: relative;
}
.phone--icon:before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../../img/icons/phone.svg);
  background-repeat: no-repeat;
}

.header {
  padding: 16px 0;
  border-bottom: 1px solid;
  border-color: #dcdcdf;
  position: relative;
  z-index: 99;
  background-color: #ffffff;
}
.header__top {
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 32px;
  align-items: center;
  margin-bottom: 16px;
}
.header__top-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header__social {
  margin-right: 32px;
}
.header__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.header__city {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  position: relative;
  display: grid;
  grid-template-columns: 12px 1fr;
  gap: 8px;
  align-items: center;
}
.header__city::before {
  display: block;
  content: "";
  width: 12px;
  height: 18px;
  background-image: url(../img/icons/point.svg);
  background-repeat: no-repeat;
}
.header__social-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 18px;
  gap: 8px;
  align-items: center;
}
.header__social-link::after {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/whatsapp.svg);
  background-repeat: no-repeat;
}
.header__social-link--telegram::after {
  background-image: url(../img/icons/telegram.svg);
}
.header__support {
  position: relative;
  max-width: 75px;
  margin-right: 32px;
}
.header__support summary {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
}
.header__support summary::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  margin-left: 8px;
}
.header__support-list {
  position: absolute;
  list-style: none;
  margin: 0;
  background: #d6f1ff;
  border-radius: 20px;
  width: 200px;
  padding: 11px 24px 13px;
  right: 0;
}
.header__support-list li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #28303d;
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 16px 0;
  position: relative;
  padding-right: 16px;
  transition: all 0.3s;
}
.header__support-list li a::after {
  content: "";
  display: block;
  width: 11px;
  height: 7px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  filter: grayscale(1);
  transition: all 0.3s;
}
.header__support-list li a:hover {
  color: #c70000;
}
.header__support-list li a:hover::after {
  filter: none;
}
.header__support-list li:not(:last-child) a {
  border-bottom: 1px solid;
  border-color: rgba(40, 48, 61, 0.1);
}
.header__support details[open] summary {
  color: rgba(199, 0, 0, 0.9);
}
.header__support details[open] summary::after {
  transform: rotate(-180deg);
}
.header__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(40, 48, 61, 0.9);
}
.header__bottom {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 182px;
  margin-right: 32px;
  flex-shrink: 0;
}
.header__logo img {
  display: block;
}
.header__navigation {
  flex-grow: 2;
}
.header__navigation .navigation-list {
  display: flex;
  align-items: center;
}
.header__navigation li:not(:last-child) a {
  margin-right: 32px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__buttons .button {
  margin-left: 16px;
}
.header .button--menu {
  display: none;
}
.header__mobile {
  display: none;
}
.header .phone {
  font-size: 16px;
}

.hero {
  padding: 80px 0 100px;
}

.footer {
  background-color: #28303d;
  color: #ffffff;
  padding: 38px 0 42px;
}
.footer .navigation-list a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
  max-width: max-content;
}
.footer__grid {
  display: grid;
  gap: 0 32px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
}
.footer__navigation {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.footer__support-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.footer__support ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__support ul a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  display: block;
}
.footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.footer .phone {
  color: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  text-align: right;
  margin-bottom: 20px;
}
.footer .phone--icon:before {
  background-image: url(../../img/icons/phone-white.svg);
}
.footer__buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
  margin-bottom: 20px;
}
.footer__buttons .button {
  max-width: 100%;
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 14px;
  margin-left: auto;
  text-align: right;
}
.footer__copyright span {
  margin-right: 32px;
}
.footer__copyright a {
  color: #ffffff;
}