@charset "utf-8";

@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }

  70% {
    transform: translateY(30px) translateX(-50%);
  }

  90% {
    transform: translateY(-10px) translateX(-50%);
  }

  100% {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%) translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-50%) translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-50%) translateX(10px);
  }
}

@import "site/variables";
@import "site/fonts";
@import "site/global";

@import "bem/wrapper";
@import "bem/button";
@import "bem/title";
@import "bem/social-link";
@import "bem/phone";

@import "bem/body";
@import "bem/visually-hidden";
@import "bem/mob-menu-open";
@import "bem/list-reset";
@import "bem/tech-list";
@import "bem/navigation-list";
@import "bem/header-sticky";
@import "bem/slider";
@import "bem/filter";
@import "bem/rate-card";
@import "bem/main";
@import "bem/section";
@import "bem/swiper";
@import "bem/tariff-long-item";
@import "bem/checkbox-button";
@import "bem/premier";
@import "bem/connection-request";
@import "bem/sticky";
@import "bem/equip";
@import "bem/instructions";
@import "bem/container";
@import "bem/accordion";

@import "sections/header";
@import "sections/mobile-nivigation";
@import "sections/hero";
@import "sections/footer";
@import "sections/slider-promo";
@import "sections/about";
@import "sections/rates";
@import "sections/promo";
@import "sections/faq";
@import "sections/tarif-details";
@import "sections/channels";
@import "sections/offers";
@import "sections/pagination";
@import "sections/page-content";
@import "sections/contacts";
@import "sections/solo-slider";
@import "sections/modal";

.btn {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  padding: 12px 24px;
  background-color: #ef3024;
  border-radius: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: 1px solid;
  border-color: #ef3024;
  max-width: max-content;
  transition: all 0.5s;
  cursor: pointer;
}

.btn_text {
  position: relative;
  z-index: 4;
  pointer-events: none;
}

.btn:hover .btn_hover {
  width: 1000px;
  height: 1000px;
}

.btn .btn_hover {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #c70000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s, background-color 0.4s;
}
