@charset "utf-8";

@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }

  70% {
    transform: translateY(calc(30px - 50%)) translateX(-50%);
  }

  90% {
    transform: translateY(calc(-10px - 50%)) translateX(-50%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%) translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-50%) translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-50%) translateX(10px);
  }
}

@import "site/variables";
@import "site/fonts";
@import "site/global";

@import "bem/wrapper";
@import "bem/button";
@import "bem/title";
@import "bem/social-link";
@import "bem/phone";

@import "bem/body";
@import "bem/visually-hidden";
@import "bem/mob-menu-open";
@import "bem/list-reset";
@import "bem/tech-list";
@import "bem/navigation-list";
@import "bem/header-sticky";
@import "bem/slider";
@import "bem/filter";
@import "bem/rate-card";
@import "bem/main";
@import "bem/section";
@import "bem/swiper";
@import "bem/tariff-long-item";
@import "bem/checkbox-button";
@import "bem/premier";
@import "bem/connection-request";
@import "bem/sticky";
@import "bem/equip";
@import "bem/instructions";
@import "bem/container";
@import "bem/accordion";

@import "sections/header";
@import "sections/mobile-nivigation";
@import "sections/hero";
@import "sections/footer";
@import "sections/slider-promo";
@import "sections/about";
@import "sections/rates";
@import "sections/promo";
@import "sections/faq";
@import "sections/tarif-details";
@import "sections/channels";
@import "sections/offers";
@import "sections/pagination";
@import "sections/page-content";
@import "sections/contacts";
@import "sections/solo-slider";
@import "sections/modal";

html {
  overflow-x: hidden;
}

.slider-promo__card {
  min-height: 100%;
  height: initial;
}

.rate-card {
  min-height: 100%;
  height: initial;
}

.swiper-slide {
  min-height: 100%;
  height: initial;
}

@media (max-width: 1200px) {
  .channels__details {
    padding: 32px 64px;
  }
  .channels__list li {
    flex-shrink: 0;
  }
}

@media (max-width: 1024px) {
  .channels__list {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .channels__details {
    padding: 20px;
  }
  .channels__list {
    grid-template-columns: repeat(auto-fill, 101px);
  }
  .channels__name {
    margin-top: -5px;
  }
}

@media (max-width: 600px) {
  .channels__details {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 14px;
  }

  .channels__details h3 {
    width: calc(100% - 96px);
    padding-left: 16px;
    position: absolute;
    top: 48px;
    left: 110px;
    margin-bottom: 0;
    font-size: 20px;
  }
  .channels__link img {
    margin-bottom: 0;
  }
  .channels__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
  }
  .channels__name {
    font-size: 14px;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
  }

  .channels__link img {
    max-width: 65px;
  }

  .channels__details-img img {
    max-width: 96px;
    width: 100%;
  }
  .channels__list li {
    flex-shrink: 0;
    max-width: 25%;
    margin-bottom: 10px;
  }

  .channels details[open]:after {
    margin-left: 16px;
  }
}

@media (max-width: 500px) {
  .rate-card__list {
    margin-bottom: 12px;
  }
  .rate-card__bottom {
  }
  .rate-card__decorate {
    font-size: 28px !important;
  }
  .rate-card__list {
    font-size: 14px;
  }
  .rate-card__title {
    margin-bottom: 29px;
  }
}
