/* rubik-300 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v23-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v23-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v23-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v23-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v23-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-800 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik-v23-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  position: relative;
  font-style: normal;
  line-height: 1.5;
  color: #28303d;
  font-weight: 400;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

li::marker {
  color: #EF3024;
}

.body {
  min-height: 100vh;
}
.body--inner-page {
  min-height: initial;
  padding-top: 144px;
}
.body--inner-page .header__grid {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 32px 0;
}
.body--inner-page.header-sticky .header__grid {
  border-color: transparent;
}
.body--inner-page .title {
  font-size: 80px;
  margin-bottom: 0.5em;
}
.body--about {
  padding-top: 112px;
}
@media (max-width: 1250px) {
  .body--inner-page {
    padding-top: 90px;
  }
}
@media (max-width: 768px) {
  .body--inner-page .title {
    font-size: 64px;
  }
}
@media (max-width: 425px) {
  .body--inner-page .title {
    font-size: 40px;
  }
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.mob-menu-open {
  overflow: hidden;
}
.mob-menu-open .header {
  background-color: #ffffff;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tech-list {
  padding: 120px 0 90px;
}
.tech-list a {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #28303d;
  margin-bottom: 0.5em;
  max-width: max-content;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-list a {
  font-size: 16px;
  color: #28303d;
  transition: color 0.3s;
}
.navigation-list a:hover {
  color: #c70000;
}

.header-sticky .header {
  background-color: #fff;
  padding: 12px 0;
}
.header-sticky .header__top {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
}
.slider .button--slider {
  position: absolute;
  top: calc(50% - 48px);
}
.slider .button--slider.prev {
  left: 52px;
}
.slider .button--slider.next {
  right: 52px;
}

.filter {
  margin-bottom: 32px;
}
.filter__flex {
  display: flex;
  align-items: center;
}
.filter__group {
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  background: #f7f8fb;
  border-radius: 24px;
  padding: 4px;
  margin-right: 24px;
}
.filter__button {
  display: block;
  text-align: center;
  padding: 12px 23px;
  background: transparent;
  border-radius: 24px;
  color: #28303d;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: none;
  max-width: max-content;
  transition: all 0.3s;
  cursor: pointer;
}
.filter input[type=radio]:checked + label {
  background: #ef3024;
  color: #ffffff;
}
.filter__group--mod {
  position: relative;
}
.filter__group--mod::before {
  display: block;
  content: "";
  height: 16px;
  width: 1px;
  background-color: #28303d;
  position: absolute;
  left: 50%;
}
.filter__group--mod input[type=radio]:checked + label {
  background: transparent;
  color: #ef3024;
}

.rate-card {
  background-color: #d6f1ff;
  border-radius: 20px;
  padding: 30px 24px 24px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rate-card--two {
  background-color: #CED9FB;
}
.rate-card--three {
  background-color: #DCD4F9;
}
.rate-card--four {
  background-color: #F4D0D8;
}
.rate-card__title {
  margin: 0;
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: 1fr 48px;
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #28303d;
  transition: all 0.3s;
}
.rate-card__title:after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  background-image: url(../../img/icons/rates-arrow.svg);
  background-repeat: no-repeat;
  transition: all 0.3s;
  background-size: contain;
}
.rate-card__title:hover {
  color: #070e2b;
}
.rate-card__title:hover:after {
  background-image: url(../../img/icons/rates-arrow--hover.svg);
}
.rate-card__decorate {
  font-weight: 300;
  font-size: 32px;
  color: #28303d;
  margin: 0;
  margin-bottom: 12px;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 40px 1fr;
  position: relative;
}
.rate-card__decorate::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(../../img/icons/speed.svg);
  background-repeat: no-repeat;
  transition: all 0.3s;
  background-size: contain;
}
.rate-card__decorate--channels::before {
  background-image: url(../../img/icons/channels.svg);
}
.rate-card__list {
  font-weight: 400;
  font-size: 16px;
  color: rgba(40, 48, 61, 0.7);
  margin: 0;
  margin-bottom: 21px;
  padding-left: 20px;
}
.rate-card__list li {
  margin-bottom: 6px;
}
.rate-card__bottom {
  border-top: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
  padding-top: 16px;
  margin-top: auto;
}
.rate-card__price {
  display: block;
  font-weight: 500;
  font-size: 32px;
  color: #28303d;
  margin: 0;
  margin-bottom: 15px;
}
.rate-card:hover {
  background-color: #bee3f8;
}
.rate-card--two:hover {
  background-color: #B4C4F5;
}
.rate-card--three:hover {
  background-color: #C9BCF7;
}
.rate-card--four:hover {
  background-color: #F5BECA;
}
.rate-card .button--white-mod {
  max-width: 100%;
}

.main {
  padding-bottom: 64px;
}

.section {
  padding: 32px 0;
}

.swiper-slide {
  height: 100% !important;
}

.wrapper {
  max-width: 1600px;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 650px) {
  .wrapper {
    padding: 0 20px;
  }
}

.button {
  display: block;
  text-align: center;
  padding: 12px 24px;
  background-color: #ef3024;
  border-radius: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: 1px solid;
  border-color: #ef3024;
  max-width: max-content;
  transition: all 0.3s;
}
.button--transparent {
  background-color: transparent;
  color: #ef3024;
}
.button--white {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.button--ghost {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #EF3024;
}
.button--slider {
  border-color: #ffffff;
  background-color: #ffffff;
  position: relative;
  width: 96px;
  height: 96px;
  max-width: 96px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  line-height: 0;
  font-size: 0;
  z-index: 11;
}
.button--slider::after {
  display: block;
  content: "";
  width: 29px;
  height: 52px;
  background-image: url(../img/icons/slider-prev.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.button--slider.next::after {
  background-image: url(../img/icons/slider-next.svg);
}
.button--slider:hover::after {
  background-image: url(../img/icons/slider-prev-white.svg);
}
.button--slider:hover.next::after {
  background-image: url(../img/icons/slider-next-white.svg);
}
.button--center {
  margin: 0 auto;
}
.button--fatty {
  padding: 15px 59px;
}
.button--white-mod {
  background-color: #ffffff;
  color: #EF3024;
  border-color: #ffffff;
}
.button--big {
  padding: 15px 62px;
}
.button:hover {
  border-color: #C70000;
  background-color: #C70000;
  color: #ffffff;
}

.title {
  margin: 0;
  display: block;
  max-width: max-content;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 40px;
  color: rgba(40, 48, 61, 0.9);
}

.social-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  grid-template-columns: 18px 1fr;
  gap: 8px;
  display: grid !important;
  transition: color 0.3s;
  align-items: center;
  max-width: max-content;
}
.social-link::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/whatsapp.svg);
  background-repeat: no-repeat;
}
.social-link--telegram::before {
  background-image: url(../img/icons/telegram.svg);
}
.social-link:hover {
  color: rgba(199, 0, 0, 0.7);
}

.phone {
  font-weight: 500;
  font-size: 20px;
  color: rgba(40, 48, 61, 0.9);
  max-width: max-content;
}
.phone--icon {
  display: grid;
  grid-template-columns: 18px 1fr;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: rgba(40, 48, 61, 0.9);
  position: relative;
}
.phone--icon:before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../../img/icons/phone.svg);
  background-repeat: no-repeat;
}

.header {
  padding: 16px 0;
  border-bottom: 1px solid;
  border-color: #dcdcdf;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  transition: all 0.5s;
}
.header__top {
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 32px;
  align-items: center;
  margin-bottom: 16px;
  transition: all 0.5s;
}
.header__top-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header__social {
  margin-right: 32px;
}
.header__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.header__city {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  position: relative;
  display: grid;
  grid-template-columns: 12px 1fr;
  gap: 8px;
  align-items: center;
}
.header__city::before {
  display: block;
  content: "";
  width: 12px;
  height: 18px;
  background-image: url(../img/icons/point.svg);
  background-repeat: no-repeat;
}
.header__social-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 18px;
  gap: 8px;
  align-items: center;
}
.header__social-link::after {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/whatsapp.svg);
  background-repeat: no-repeat;
}
.header__social-link--telegram::after {
  background-image: url(../img/icons/telegram.svg);
}
.header__support {
  position: relative;
  max-width: 75px;
  margin-right: 32px;
}
.header__support summary {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
}
.header__support summary::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  margin-left: 8px;
}
.header__support-list {
  position: absolute;
  list-style: none;
  margin: 0;
  background: #d6f1ff;
  border-radius: 20px;
  width: 200px;
  padding: 11px 24px 13px;
  right: 0;
}
.header__support-list li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #28303d;
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 16px 0;
  position: relative;
  padding-right: 16px;
  transition: all 0.3s;
}
.header__support-list li a::after {
  content: "";
  display: block;
  width: 11px;
  height: 7px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  filter: grayscale(1);
  transition: all 0.3s;
}
.header__support-list li a:hover {
  color: #c70000;
}
.header__support-list li a:hover::after {
  filter: none;
}
.header__support-list li:not(:last-child) a {
  border-bottom: 1px solid;
  border-color: rgba(40, 48, 61, 0.1);
}
.header__support details[open] summary {
  color: rgba(199, 0, 0, 0.9);
}
.header__support details[open] summary::after {
  transform: rotate(-180deg);
}
.header__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(40, 48, 61, 0.9);
}
.header__bottom {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 182px;
  margin-right: 32px;
  flex-shrink: 0;
}
.header__logo img {
  display: block;
}
.header__navigation {
  flex-grow: 2;
}
.header__navigation .navigation-list {
  display: flex;
  align-items: center;
}
.header__navigation li:not(:last-child) a {
  margin-right: 32px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__buttons .button {
  margin-left: 16px;
}
.header .button--menu {
  display: none;
}
.header .phone {
  font-size: 16px;
}

.mobile-nivigation {
  display: none;
}

.hero {
  padding: 120px 0 18px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.hero--inner {
  min-height: initial;
  padding-top: 119px;
  padding-bottom: 100px;
}
.hero--inner .hero__content {
  padding-top: 80px;
  display: block;
}
.hero--inner .hero__content .title {
  text-align: initial;
}
.hero__video {
  position: absolute;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero__video video {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.hero__content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  align-items: center;
  padding-top: 10%;
}
.hero .title {
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  color: #4f5661;
  margin: 0;
}
.hero .title span {
  display: block;
  font-weight: 700;
  font-size: 64px;
  color: #28303d;
}
.hero .title + .button {
  margin-top: 38px;
  padding: 15px 24px;
}

.footer {
  background-color: #28303d;
  color: #ffffff;
  padding: 38px 0 42px;
}
.footer .navigation-list a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
  max-width: max-content;
}
.footer__grid {
  display: grid;
  gap: 0 32px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
}
.footer__navigation {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.footer__support-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.footer__support ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__support ul a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  display: block;
}
.footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.footer .phone {
  color: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  text-align: right;
  margin-bottom: 20px;
}
.footer .phone--icon:before {
  background-image: url(../../img/icons/phone-white.svg);
}
.footer__buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
  margin-bottom: 20px;
}
.footer__buttons .button {
  max-width: 100%;
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 14px;
  margin-left: auto;
  text-align: right;
}
.footer__copyright span {
  margin-right: 32px;
}
.footer__copyright a {
  color: #ffffff;
}

.slider-promo {
  margin-top: 10%;
}
.slider-promo__card {
  width: 100%;
  background: #f7f8fb;
  border-radius: 20px;
  padding: 23px 24px 31px;
}
.slider-promo__card .button {
  max-width: 100%;
  width: 100%;
}
.slider-promo__image {
  margin-bottom: 17px;
  border-radius: 12px;
  overflow: hidden;
}
.slider-promo__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-promo__data {
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #4f5661;
  margin-bottom: 7px;
}
.slider-promo__title {
  margin: 0;
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #28303d;
}
.slider-promo__text {
  margin: 0;
  display: block;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgba(79, 86, 97, 0.8);
}
.slider-promo--minus {
  margin-top: -59vh;
}
.slider-promo .swiper + .button {
  margin-top: 32px;
}
.slider-promo .swiper + .button--center {
  margin-top: 32px;
  max-width: max-content;
  padding: 15px 65px;
}

.about {
  padding: 32px 0;
}
.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}
.about__image {
  margin-bottom: 19px;
  border-radius: 20px;
  overflow: hidden;
}
.about__image img {
  display: block;
  width: 100%;
}
.about__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #28303d;
}
.about__text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: rgba(79, 86, 97, 0.8);
  opacity: 0.8;
  margin: 0;
}
.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(79, 86, 97, 0.8);
}
.about__content p:first-child {
  margin-top: 0;
}
.about__content p:last-child {
  margin-bottom: 0;
}
.about__content + .button--center {
  margin-top: 32px;
  max-width: max-content;
  padding: 12px 65px;
}

.about__list + .about__content {
  margin-top: 38px;
}

.rates {
  padding: 32px 0 64px;
}
.rates__group:not(:last-child) {
  margin-bottom: 42px;
}
.rates .title {
  margin-bottom: 0;
  color: #28303D;
}
.rates__list {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.promo__grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 32px;
  align-items: center;
  padding-left: 0;
  background: #d6effb;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 65px;
}
.promo__grid--two {
  background: #dcd4f9;
}
.promo__image {
  margin-left: auto;
}
.promo__image img {
  display: block;
}
.promo__title {
  margin: 0;
  display: block;
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 40px;
  color: rgba(40, 48, 61, 0.9);
  line-height: 1.2;
}
.promo__details {
  margin-right: auto;
  max-width: 736px;
  width: 100%;
}
.promo__form {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.promo__form label {
  color: rgba(40, 48, 61, 0.9);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  display: block;
}
.promo__form input {
  max-width: 100%;
  width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 11px 24px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: none;
}
.promo__form .button {
  margin-left: auto;
  padding: 15px 70px;
}
.promo__form-item--check {
  display: flex;
  align-items: flex-start;
}
.promo__form-item--check input {
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ffffff;
  border: none;
  flex-shrink: 0;
}
.promo__form-item--check label {
  display: inline-block;
  margin: 0 !important;
  flex-grow: 2;
  font-weight: 400;
  font-size: 16px;
  color: rgba(79, 86, 97, 0.9);
}
.promo__form-item--check label a {
  color: #ef3024;
}

.equip {
  padding: 32px 0;
}
.equip__card {
  display: block;
  padding: 24px;
  background-color: #f7f8fb;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s;
}
.equip__card:hover {
  background-color: #eaecf0;
}
.equip__photo {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
}
.equip__photo img {
  display: block;
  width: 100%;
}
.equip__subtitle {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #4f5661;
}
.equip__title {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #28303d;
  margin-bottom: 12px;
}
.equip__list {
  margin-bottom: 24px;
  padding-left: 20px;
}
.equip__bottom {
  border-top: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
  padding-top: 16px;
  margin-top: auto;
}
.equip__bottom .button {
  max-width: 100%;
}
.equip__label {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: rgba(79, 86, 97, 0.9);
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 8px;
  gap: 7px;
  max-width: max-content;
}
.equip__label::after {
  display: block;
  content: "";
  width: 10px;
  height: 6px;
  background-image: url(../img/icons/mini-arrow.svg);
  background-repeat: no-repeat;
}
.equip__price {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  color: #28303d;
  margin-bottom: 16px;
}

.faq {
  padding: 32px 0;
}
.faq__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.faq__list li {
  padding: 0 16px;
  position: relative;
  transition: all 0.5s;
  margin-top: 1px;
  border-radius: 20px;
}
.faq__list li::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: -1px;
  left: 0;
  background-color: #dcdcdf;
}
.faq__list li::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #dcdcdf;
}
.faq__list li:hover {
  background-color: #d6f1ff;
  border-color: #fff !important;
}
.faq__list li:hover::before {
  background-color: #ffffff;
}
.faq__list li:hover::after {
  background-color: #ffffff;
}
.faq__list li:hover + .faq__item::before {
  display: none;
}
.faq__list li:first-child {
  border-top: 1px solid;
  border-color: #dcdcdf;
}
.faq__list + .button--center {
  margin-top: 31px;
}
.faq__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.faq__icon .move {
  opacity: 1;
  transition: all 0.3s;
}
.faq__question {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 14px 0 17px;
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: 48px 1fr;
}
.faq__question h3 {
  margin: 0;
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: rgba(40, 48, 61, 0.9);
}
.faq__answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding-left: 112px;
  padding-right: 108px;
  font-size: 16px;
  color: rgba(79, 86, 97, 0.8);
}
.faq .isActive {
  background-color: #d6f1ff;
}
.faq .isActive::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  top: -1px;
  left: 0;
  background-color: #fff;
}
.faq .isActive .faq__answer {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease-in-out;
}
.faq .isActive .faq__icon .move {
  opacity: 0;
}