@charset "UTF-8";
@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }
  70% {
    transform: translateY(calc(30px - 50%)) translateX(-50%);
  }
  90% {
    transform: translateY(calc(-10px - 50%)) translateX(-50%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(-50%) translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-50%) translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-50%) translateX(10px);
  }
}
/* rubik-300 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v23-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v23-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v23-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v23-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v23-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-800 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik-v23-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/rubik-v23-latin_cyrillic-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 325px;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  position: relative;
  font-style: normal;
  line-height: 1.5;
  color: #28303d;
  font-weight: 400;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

li::marker {
  color: #EF3024;
}

.wrapper {
  max-width: 1600px;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 650px) {
  .wrapper {
    padding: 0 20px;
  }
}

.button {
  display: block;
  text-align: center;
  padding: 12px 24px;
  background-color: #ef3024;
  border-radius: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: 1px solid;
  border-color: #ef3024;
  max-width: max-content;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
}
.button svg {
  position: relative;
  z-index: 11;
}
.button span {
  pointer-events: none;
}
.button_text {
  position: relative;
  z-index: 4;
  pointer-events: none;
}
.button_hover {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #c70000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s, color 0.3s, background-color 0.4s;
}
.button--transparent {
  background-color: transparent;
  color: #ef3024;
}
.button--white {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.button--ghost {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #ef3024;
}
.button--slider {
  border-color: #ffffff;
  background-color: #ffffff;
  position: relative;
  width: 96px;
  height: 96px;
  max-width: 96px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  line-height: 0;
  font-size: 0;
  z-index: 11;
}
.button--slider::after {
  display: block;
  content: "";
  width: 29px;
  height: 52px;
  background-image: url(../img/icons/slider-prev.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.button--slider.next::after {
  background-image: url(../img/icons/slider-next.svg);
}
.button--slider:hover::after {
  background-image: url(../img/icons/slider-prev-white.svg);
}
.button--slider:hover.next::after {
  background-image: url(../img/icons/slider-next-white.svg);
}
.button--clear {
  background-color: #ffffff;
  border-color: transparent;
  color: #ef3024;
}
.button--center {
  margin: 0 auto;
}
.button--fatty {
  padding: 15px 59px;
}
.button--white-mod {
  background-color: #ffffff;
  color: #ef3024;
  border-color: #ffffff;
}
.button--big {
  padding: 15px 62px;
}
.button:hover {
  border-color: #c70000;
  background-color: #c70000;
  color: #ffffff;
}
.button:hover .button_hover {
  width: 1000px;
  height: 1000px;
  pointer-events: none;
}

.title {
  margin: 0;
  display: block;
  max-width: max-content;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 40px;
  color: rgba(40, 48, 61, 0.9);
}

.social-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  grid-template-columns: 18px 1fr;
  gap: 8px;
  display: grid !important;
  transition: color 0.3s;
  align-items: center;
  max-width: max-content;
}
.social-link::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/whatsapp.svg);
  background-repeat: no-repeat;
}
.social-link--telegram::before {
  background-image: url(../img/icons/telegram.svg);
}
.social-link:hover {
  color: rgba(199, 0, 0, 0.7);
}

.phone {
  font-weight: 500;
  font-size: 20px;
  color: rgba(40, 48, 61, 0.9);
  max-width: max-content;
}
.phone--icon {
  display: grid;
  grid-template-columns: 18px 1fr;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: rgba(40, 48, 61, 0.9);
  position: relative;
}
.phone--icon:before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../../img/icons/phone.svg);
  background-repeat: no-repeat;
}

.body {
  min-height: 100vh;
}
.body--inner-page {
  min-height: initial;
  padding-top: 144px;
}
.body--inner-page .header__grid {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 32px 0;
}
.body--inner-page.header-sticky .header__grid {
  border-color: transparent;
}
.body--inner-page .title {
  font-size: 80px;
  margin-bottom: 0.5em;
}
.body--about {
  padding-top: 112px;
}
@media (max-width: 1250px) {
  .body--inner-page {
    padding-top: 90px;
  }
}
@media (max-width: 768px) {
  .body--inner-page .title {
    font-size: 64px;
  }
}
@media (max-width: 425px) {
  .body--inner-page .title {
    font-size: 40px;
  }
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.mob-menu-open {
  overflow: hidden;
  padding-right: calc(100vw - 100%);
}
.mob-menu-open .header {
  background-color: #ffffff;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tech-list {
  padding: 0;
  margin: 0;
}
.tech-list a {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #28303d;
  margin-bottom: 0.5em;
  max-width: max-content;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-list a {
  font-size: 16px;
  color: #28303d;
  transition: color 0.3s;
}
.navigation-list a:hover {
  color: #c70000;
}

.header-sticky .header {
  background-color: #fff;
  padding: 12px 0;
}
.header-sticky .header__top {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
}
.slider .button--slider {
  position: absolute;
  top: calc(50% - 48px);
}
.slider .button--slider.prev {
  left: 52px;
}
.slider .button--slider.next {
  right: 52px;
}

.filter {
  margin-bottom: 54px;
}
.filter__flex {
  display: flex;
  align-items: center;
}
.filter__group {
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  background: #f7f8fb;
  border-radius: 24px;
  padding: 4px;
  margin-right: 24px;
}
.filter__button {
  display: block;
  text-align: center;
  padding: 12px 23px;
  background: transparent;
  border-radius: 24px;
  color: #28303d;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: none;
  max-width: max-content;
  transition: all 0.3s;
  cursor: pointer;
}
.filter input[type=radio]:checked + label {
  background: #ef3024;
  color: #ffffff;
}
.filter__group--mod {
  position: relative;
}
.filter__group--mod::before {
  display: block;
  content: "";
  height: 16px;
  width: 1px;
  background-color: #28303d;
  position: absolute;
  left: 50%;
}
.filter__group--mod input[type=radio]:checked + label {
  background: transparent;
  color: #ef3024;
}
.filter .title {
  margin-bottom: 32px;
}

.rate-card {
  background-color: #d6f1ff;
  border-radius: 20px;
  padding: 30px 24px 24px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rate-card--two {
  background-color: #CED9FB;
}
.rate-card--three {
  background-color: #DCD4F9;
}
.rate-card--four {
  background-color: #F4D0D8;
}
.rate-card__title {
  margin: 0;
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: 1fr 48px;
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #28303d;
  transition: all 0.3s;
}
.rate-card__title:after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  background-image: url(../../img/icons/rates-arrow.svg);
  background-repeat: no-repeat;
  transition: all 0.3s;
  background-size: contain;
}
.rate-card__title:hover {
  color: #070e2b;
}
.rate-card__title:hover:after {
  background-image: url(../../img/icons/rates-arrow--hover.svg);
}
.rate-card__decorate {
  font-weight: 300;
  font-size: 32px;
  color: #28303d;
  margin: 0;
  margin-bottom: 12px;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 40px 1fr;
  position: relative;
}
.rate-card__decorate::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(../../img/icons/speed.svg);
  background-repeat: no-repeat;
  transition: all 0.3s;
  background-size: contain;
}
.rate-card__decorate--channels::before {
  background-image: url(../../img/icons/channels.svg);
}
.rate-card__list {
  font-weight: 400;
  font-size: 16px;
  color: rgba(40, 48, 61, 0.7);
  margin: 0;
  margin-bottom: 21px;
  padding-left: 20px;
}
.rate-card__list li {
  margin-bottom: 6px;
}
.rate-card__bottom {
  border-top: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
  padding-top: 16px;
  margin-top: auto;
}
.rate-card__price {
  display: block;
  font-weight: 500;
  font-size: 32px;
  color: #28303d;
  margin: 0;
  margin-bottom: 15px;
}
.rate-card:hover {
  background-color: #bee3f8;
}
.rate-card--two:hover {
  background-color: #B4C4F5;
}
.rate-card--three:hover {
  background-color: #C9BCF7;
}
.rate-card--four:hover {
  background-color: #F5BECA;
}
.rate-card .button--white-mod {
  max-width: 100%;
}

.main {
  padding-bottom: 64px;
}

.section {
  padding: 32px 0;
}

.swiper-autoheight .swiper-wrapper {
  align-items: stretch;
}

.tariff-long-item {
  display: flex;
  align-items: center;
  gap: 32px;
  background: #f7f8fb;
  border-radius: 20px;
  padding: 16px;
  overflow: hidden;
  min-height: 104px;
  transition: all 0.3s;
}
.tariff-long-item:hover {
  background-color: #EAECF0;
}
.tariff-long-item__picture {
  max-width: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.tariff-long-item__picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tariff-long-item__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  align-items: center;
}
.tariff-long-item__details {
  margin-right: auto;
}
.tariff-long-item__name {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  color: #28303d;
  display: flex;
  align-items: center;
}
.tariff-long-item__subtitle {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: rgba(40, 48, 61, 0.7);
}
.tariff-long-item__subtitle--mod {
  display: flex;
  align-items: center;
}
.tariff-long-item__subtitle--mod::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  margin-left: 8px;
}
.tariff-long-item__price {
  margin-left: 32px;
}
.tariff-long-item__button .button {
  min-width: 136px;
}

.checkbox-button input[type=checkbox]:checked + .button {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #f44336;
}
.checkbox-button label {
  cursor: pointer;
}
.checkbox-button label span {
  pointer-events: none;
}

.premier {
  display: inline-block;
  width: 120px;
  height: 32px;
  background-image: url(../../img/premier.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
}

.tariff-long-item__name .premier {
  margin-left: 16px;
}

.connection-request {
  background: #d6f1ff;
  border-radius: 20px;
  overflow: hidden;
  padding: 24px 32px 32px;
  margin-top: -355px;
  z-index: 99;
  position: relative;
}
.connection-request__title {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  color: #28303d;
  margin-bottom: 16px;
}
.connection-request__details {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
}
.connection-request__details li {
  font-weight: 400;
  font-size: 18px;
  color: #4f5661;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.connection-request__details li strong {
  font-weight: 500;
  font-size: 20px;
  color: rgba(7, 14, 43, 0.9);
}
.connection-request__price {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
  padding: 12px 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.connection-request__price li {
  max-width: 168px;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  color: rgba(79, 86, 97, 0.9);
}
.connection-request__price li strong {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: #070e2b;
}
.connection-request__price li + li {
  margin-left: 16px;
}
.connection-request__text {
  margin: 0;
  display: block;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(79, 86, 97, 0.8);
  margin-top: 14px;
}
.connection-request .button {
  max-width: 100%;
}
.connection-request__form {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
  padding: 12px 0 16px;
}
.connection-request__form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.connection-request__form li + li {
  margin-top: 23px;
}
.connection-request__form p {
  font-weight: 400;
  font-size: 16px;
  color: #4f5661;
  display: block;
  margin: 0;
}
.connection-request__form p span {
  font-weight: 500;
  font-size: 24px;
  color: #070e2b;
  opacity: 0.9;
  padding: 0;
  line-height: 1;
  display: block;
}
.connection-request__form label {
  position: relative;
  display: grid;
  gap: 16px;
  grid-template-columns: 33px 1fr;
  align-items: center;
}
.connection-request__form label::before {
  width: 33px;
  height: 33px;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/icons/radio-off.svg);
  background-size: contain;
  display: block;
}
.connection-request__form input[type=radio]:checked + label::before {
  background-image: url(../img/icons/radio-on.svg);
}

.sticky {
  position: sticky;
  top: 470px;
}

.equip {
  display: block;
  padding: 24px;
  background-color: #f7f8fb;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s;
}
.equip:hover {
  background-color: #eaecf0;
}
.equip__photo {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
}
.equip__photo img {
  display: block;
  width: 100%;
}
.equip__subtitle {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #4f5661;
}
.equip__title {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #28303d;
  margin-bottom: 12px;
}
.equip__list {
  margin-bottom: 24px;
  padding-left: 20px;
}
.equip__bottom {
  border-top: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
  padding-top: 16px;
  margin-top: auto;
}
.equip__bottom .button {
  max-width: 100%;
}
.equip__label {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: rgba(79, 86, 97, 0.9);
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 8px;
  gap: 7px;
  max-width: max-content;
}
.equip__label::after {
  display: block;
  content: "";
  width: 10px;
  height: 6px;
  background-image: url(../img/icons/mini-arrow.svg);
  background-repeat: no-repeat;
}
.equip__price {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  color: #28303d;
  margin-bottom: 16px;
}
.equip__text {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #4f5661;
}
.equip__decorate {
  font-weight: 300;
  font-size: 32px;
  color: #28303d;
  margin: 0;
  margin-bottom: 12px;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 40px 1fr;
  position: relative;
}
.equip__decorate::before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(../../img/icons/channels.svg);
  background-repeat: no-repeat;
  transition: all 0.3s;
  background-size: contain;
}

.instructions {
  list-style: none;
  padding: 0;
  margin: 0;
}
.instructions a {
  border-top: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
  padding: 11px 24px;
  position: relative;
  display: grid;
  gap: 24px;
  align-items: center;
  grid-template-columns: 38px 1fr;
}
.instructions a::before {
  display: block;
  content: "";
  width: 38px;
  height: 38px;
  background-image: url(../../img/files/1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.instructions li:last-child a {
  border-bottom: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
}
.instructions p {
  margin: 0;
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  color: #28303d;
}
.instructions span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #4f5661;
  margin: 0;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

.accordions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion {
  background: #ffffff;
  border-radius: 0;
  padding: 7px 16px;
  color: #4f5661;
  border: 1px solid #dcdcdf;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  position: relative;
  z-index: 2;
  transition: all 0.3s;
}
.accordion__question {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-columns: 48px 1fr;
}
.accordion__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.accordion__title {
  margin: 0;
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: rgba(40, 48, 61, 0.9);
}
.accordion__text {
  margin-top: 0;
}
.accordion__text:last-of-type {
  margin-bottom: 0;
}
.accordion .move {
  opacity: 1;
  transition: all 0.3s;
}
.accordion__answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding-left: 65px;
  padding-right: 0;
  font-size: 16px;
}
.accordion__list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.accordion__list li {
  margin-bottom: 16px;
}
.accordion + .accordion {
  border-top: 1px solid transparent;
}

.accordion:hover {
  border-radius: 20px;
  border-top: 1px solid #d6f1ff;
  border-left: 1px solid #d6f1ff;
  border-right: 1px solid #d6f1ff;
  border-color: #d6f1ff;
  background-color: #d6f1ff;
}
.accordion:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #ffffff;
  top: -3px;
  z-index: 0;
  transition: all 0.3s;
}

.accordion.active {
  border-radius: 20px;
  border-top: 1px solid #d6f1ff;
  border-left: 1px solid #d6f1ff;
  border-right: 1px solid #d6f1ff;
  border-color: #d6f1ff;
  background-color: #d6f1ff;
}
.accordion.active::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #ffffff;
  top: -3px;
  z-index: 0;
  transition: all 0.3s;
}
.accordion.active .accordion__answer {
  opacity: 1;
  max-height: 1000px;
  transition: all 0.3s ease-in-out;
}
.accordion.active .move {
  opacity: 0;
}
.accordion.active + .accordion {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.accordion.active .accordion__answer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header {
  padding: 16px 0;
  border-bottom: 1px solid;
  border-color: #dcdcdf;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  transition: all 0.5s;
}
.header__top {
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 32px;
  align-items: center;
  margin-bottom: 16px;
  transition: all 0.5s;
}
.header__top-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header__social {
  margin-right: 32px;
}
.header__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.header__city {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  position: relative;
  display: grid;
  grid-template-columns: 12px 1fr;
  gap: 8px;
  align-items: center;
}
.header__city::before {
  display: block;
  content: "";
  width: 12px;
  height: 18px;
  background-image: url(../img/icons/point.svg);
  background-repeat: no-repeat;
}
.header__social-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 18px;
  gap: 8px;
  align-items: center;
}
.header__social-link::after {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/whatsapp.svg);
  background-repeat: no-repeat;
}
.header__social-link--telegram::after {
  background-image: url(../img/icons/telegram.svg);
}
.header__support {
  position: relative;
  max-width: 75px;
  margin-right: 32px;
}
.header__support summary {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: rgba(79, 86, 97, 0.9);
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
}
.header__support summary::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  margin-left: 8px;
}
.header__support-list {
  position: absolute;
  list-style: none;
  margin: 0;
  background: #d6f1ff;
  border-radius: 20px;
  width: 200px;
  padding: 11px 24px 13px;
  right: 0;
}
.header__support-list li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #28303d;
  display: flex;
  gap: 32px;
  align-items: center;
  padding: 16px 0;
  position: relative;
  padding-right: 16px;
  transition: all 0.3s;
}
.header__support-list li a::after {
  content: "";
  display: block;
  width: 11px;
  height: 7px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  filter: grayscale(1);
  transition: all 0.3s;
}
.header__support-list li a:hover {
  color: #c70000;
}
.header__support-list li a:hover::after {
  filter: none;
}
.header__support-list li:not(:last-child) a {
  border-bottom: 1px solid;
  border-color: rgba(40, 48, 61, 0.1);
}
.header__support details[open] summary {
  color: rgba(199, 0, 0, 0.9);
}
.header__support details[open] summary::after {
  transform: rotate(-180deg);
}
.header__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(40, 48, 61, 0.9);
}
.header__bottom {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 182px;
  margin-right: 32px;
  flex-shrink: 0;
}
.header__logo img {
  display: block;
}
.header__navigation {
  flex-grow: 2;
}
.header__navigation .navigation-list {
  display: flex;
  align-items: center;
}
.header__navigation li:not(:last-child) a {
  margin-right: 32px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__buttons .button {
  margin-left: 16px;
}
.header .button--menu {
  display: none;
}
.header .phone {
  font-size: 16px;
}

.mobile-nivigation {
  display: none;
}

.hero {
  padding: 120px 0 18px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.hero--inner {
  min-height: initial;
  padding-top: 119px;
  padding-bottom: 100px;
}
.hero--inner .hero__content {
  padding-top: 80px;
  display: block;
}
.hero--inner .hero__content .title {
  text-align: initial;
}
.hero__video {
  position: absolute;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero__video video {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.hero__content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  align-items: center;
  padding-top: 10%;
}
.hero .title {
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  color: #4f5661;
  margin: 0;
}
.hero .title span {
  display: block;
  font-weight: 700;
  font-size: 64px;
  color: #28303d;
}
.hero .title--mod {
  font-weight: 500;
  font-size: 48px;
  color: #28303d;
}
.hero .title + .button {
  margin-top: 38px;
  padding: 15px 24px;
}
.hero__buttons-grid {
  display: grid;
  gap: 32px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: max-content;
  margin-top: 24px;
}
.hero__content--mod {
  max-width: 992px;
  margin-right: auto;
}

.footer {
  background-color: #28303d;
  color: #ffffff;
  padding: 38px 0 42px;
}
.footer .navigation-list a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
  max-width: max-content;
}
.footer__grid {
  display: grid;
  gap: 0 32px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
}
.footer__navigation {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.footer__support-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.footer__support ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__support ul a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  display: block;
}
.footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.footer .phone {
  color: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  text-align: right;
  margin-bottom: 20px;
}
.footer .phone--icon:before {
  background-image: url(../../img/icons/phone-white.svg);
}
.footer__buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 16px;
  margin-bottom: 20px;
}
.footer__buttons .button {
  max-width: 100%;
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 14px;
  margin-left: auto;
  text-align: right;
}
.footer__copyright span {
  margin-right: 32px;
}
.footer__copyright a {
  color: #ffffff;
}

.slider-promo {
  margin-top: 10%;
}
.slider-promo__card {
  width: 100%;
  background: #f7f8fb;
  border-radius: 20px;
  padding: 23px 24px 31px;
}
.slider-promo__card .button {
  max-width: 100%;
  width: 100%;
}
.slider-promo__image {
  margin-bottom: 17px;
  border-radius: 12px;
  overflow: hidden;
}
.slider-promo__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-promo__data {
  display: block;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #4f5661;
  margin-bottom: 7px;
}
.slider-promo__title {
  margin: 0;
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #28303d;
}
.slider-promo__text {
  margin: 0;
  display: block;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgba(79, 86, 97, 0.8);
}
.slider-promo--minus {
  margin-top: -59vh;
}
.slider-promo .swiper + .button {
  margin-top: 32px;
}
.slider-promo .swiper + .button--center {
  margin-top: 32px;
  max-width: max-content;
  padding: 15px 65px;
}

.about {
  padding: 32px 0;
}
.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}
.about__image {
  margin-bottom: 19px;
  border-radius: 20px;
  overflow: hidden;
}
.about__image img {
  display: block;
  width: 100%;
}
.about__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #28303d;
}
.about__text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: rgba(79, 86, 97, 0.8);
  opacity: 0.8;
  margin: 0;
}
.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(79, 86, 97, 0.8);
}
.about__content p:first-child {
  margin-top: 0;
}
.about__content p:last-child {
  margin-bottom: 0;
}
.about__content + .button--center {
  margin-top: 32px;
  max-width: max-content;
  padding: 12px 65px;
}

.about__list + .about__content {
  margin-top: 38px;
}

.rates {
  padding: 32px 0 64px;
}
.rates__group:not(:last-child) {
  margin-bottom: 42px;
}
.rates__list {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.promo__grid {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 32px;
  align-items: center;
  padding-left: 0;
  background: #d6effb;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 65px;
}
.promo--two .promo__grid {
  background: #dcd4f9;
}
.promo--three .promo__grid {
  background: #EBD6F1;
}
.promo__image {
  margin-left: auto;
}
.promo__image img {
  display: block;
}
.promo__title {
  margin: 0;
  display: block;
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 40px;
  color: rgba(40, 48, 61, 0.9);
  line-height: 1.2;
}
.promo__details {
  margin-right: auto;
  max-width: 736px;
  width: 100%;
}
.promo__form {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.promo__form label {
  color: rgba(40, 48, 61, 0.9);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  display: block;
}
.promo__form input {
  max-width: 100%;
  width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 11px 24px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: none;
}
.promo__form .button {
  margin-left: auto;
  padding: 15px 70px;
}
.promo__form-item--check {
  display: flex;
  align-items: flex-start;
}
.promo__form-item--check input {
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ffffff;
  border: none;
  flex-shrink: 0;
}
.promo__form-item--check label {
  display: inline-block;
  margin: 0 !important;
  flex-grow: 2;
  font-weight: 400;
  font-size: 16px;
  color: rgba(79, 86, 97, 0.9);
}
.promo__form-item--check label a {
  color: #ef3024;
}

.faq {
  padding: 32px 0;
}
.faq .accordions {
  margin-bottom: 32px;
}

.tarif-details {
  position: relative;
  z-index: 11;
}
.tarif-details .title {
  font-size: 40px;
  margin-bottom: 30px;
}
.tarif-details__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  align-items: flex-start;
}
.tarif-details__group:not(:last-child) {
  margin-bottom: 50px;
}
.tarif-details__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tarif-details__list li:not(:last-child) {
  margin-bottom: 10px;
}
.tarif-details__list + .button {
  margin-top: 32px;
  padding: 15px 57px;
}
.tarif-details__grid-content .faq__list {
  margin-top: 32px;
}

.channels {
  /* Убираем стандартный маркер Chrome */
  /* Убираем стандартный маркер Firefox */
}
.channels__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 96px);
  gap: 32px;
  position: relative;
}
.channels__group:not(:last-child) {
  margin-bottom: 43px;
}
.channels details summary::-webkit-details-marker {
  display: none;
}
.channels details > summary {
  list-style: none;
}
.channels__link {
  display: block;
}
.channels__link img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 8px;
  background-color: transparent;
}
.channels__name {
  display: block;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  margin: 0;
  color: #28303d;
}
.channels__details {
  background: #d6f1ff;
  border-radius: 20px;
  padding: 32px 128px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 11;
  margin-top: 16px;
  display: grid;
  gap: 32px;
  grid-template-columns: 96px 1fr;
  align-items: center;
}
.channels__details h3 {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  color: #28303d;
  margin-bottom: 5px;
}
.channels__details p {
  display: block;
  margin: 0;
}
.channels__details-img {
  border-radius: 12px;
  overflow: hidden;
  width: 96px;
  height: 96px;
}
.channels__details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.channels details[open]:after {
  content: "";
  display: block;
  width: 32px;
  height: 16px;
  background-image: url(../img/details-arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 32px;
}
.channels details[open] img {
  background: #d6f1ff;
}

.offers {
  padding: 52px 0 52px;
}
.offers__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.pagination__list {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.pagination__link {
  width: 48px;
  height: 48px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #ef3024;
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  padding: 12px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.pagination__link--text {
  width: max-content;
  background: #ef3024;
  color: #ffffff;
  padding: 12px 62px;
  margin: 0 24px;
}
.pagination__link--text svg {
  display: none;
}
.pagination__link--dotted {
  color: #28303d;
  border-color: transparent;
}
.pagination__link.active {
  color: #28303d;
  border-color: transparent;
  font-weight: 500;
  background: #F7F8FB;
}

.page-content {
  padding: 56px 0 32px;
  font-size: 16px;
  color: #727881;
}
.page-content img {
  border-radius: 20px;
  overflow: hidden;
}
.page-content p {
  font-size: 16px;
  color: #727881;
}
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  color: #28303d;
}

.lead {
  font-weight: 400;
  font-size: 18px;
  color: #28303d;
}

.contacts {
  padding-top: 56px;
}
.contacts__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}
.contacts__map {
  width: 100%;
  position: relative;
  z-index: 10;
  border-radius: 20px;
  overflow: hidden;
}
.contacts__map .map__content {
  height: 448px;
  width: 100%;
}
.contacts__details p {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 20px;
  color: #28303d;
}
.contacts__details p span {
  display: block;
  font-size: 16px;
  color: #4f5661;
}
.contacts__details a {
  font-weight: 600;
  font-size: 20px;
  color: #28303d;
  transition: all 0.3s;
}
.contacts__details a:hover {
  color: #c70000;
}
.contacts__button {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}
.contacts .button {
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.contacts .button--icon-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts .button--icon-left svg {
  margin-right: 12px;
}
.contacts .button:hover {
  color: #ffffff;
}
.contacts .button--transparent {
  max-width: 100%;
  color: #c70000;
  margin-top: 32px;
}

.solo-slider {
  display: block;
  margin-bottom: 32px;
}
.solo-slider__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 96px;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
}
.solo-slider__left {
  display: block;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  background: #f7f8fb;
  border-radius: 20px;
  padding: 24px;
}
.solo-slider__left .swiper {
  background-color: #fff;
  border-radius: 20px;
}
.solo-slider__left .swiper-slide {
  width: 100%;
  padding: 23px;
  background-color: #fff;
  height: initial !important;
}
.solo-slider__left .swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.solo-slider__right {
  display: block;
  margin-left: auto;
}
.solo-slider__right .swiper {
  overflow: initial;
}
.solo-slider__right .swiper-slide {
  padding: 10px;
  max-width: 96px;
  position: relative;
  height: initial !important;
}
.solo-slider__right .swiper-slide img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  z-index: 11;
}
.solo-slider__right .swiper-slide-thumb-active {
  background-color: #d6f1ff;
  border-radius: 20px;
  z-index: 11;
  position: relative;
}
.solo-slider__right .swiper-slide-thumb-active::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: #d6f1ff;
  position: absolute;
  z-index: 0;
  top: calc(50% - 12px);
  left: -12px;
  transform: rotate(45deg);
}
.solo-slider .button--slider {
  width: 64px;
  height: 64px;
  border-color: #ef3024;
  background-color: #ef3024;
  position: absolute;
  top: calc(50% - 32px);
  left: 24px;
  z-index: 99;
}
.solo-slider .button--slider::after {
  display: none;
}
.solo-slider .button--slider svg {
  width: 20px;
  height: 37px;
  pointer-events: none;
}
.solo-slider .button--slider.next {
  left: auto;
  right: 24px;
}
.solo-slider .button--slider:hover {
  border-color: #c70000;
  background-color: #c70000;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  padding: 20px;
  width: 100%;
  max-width: 776px;
  max-height: 100vh;
  overflow: auto;
}
.modal__wrapper {
  position: relative;
  padding: 26px 40px 40px;
  background-color: #d6f1ff;
  border-radius: 20px;
  color: rgba(79, 86, 97, 0.8);
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}
.modal .title {
  margin: 0;
  display: block;
  margin-bottom: 12px;
  margin-right: 42px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  color: #28303d;
}
.modal .subtitle {
  margin: 0;
  display: block;
  margin-bottom: 24px;
}
.modal .close-btn {
  display: block;
  width: 48px;
  height: 48px;
  max-width: initial;
  margin: auto;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s;
  position: absolute;
  top: 16px;
  right: 16px;
}
.modal .close-btn svg {
  pointer-events: none;
  flex-shrink: 0;
  stroke: #ef3024;
  transition: all 0.5s;
}
.modal .close-btn:hover {
  background-color: #c70000;
  border-color: #c70000;
}
.modal .close-btn:hover svg path {
  stroke: #ffffff;
  transition: all 0.5s;
}
.modal .subtitle--two {
  margin-bottom: 26px;
}
.modal .connection-request__price {
  justify-content: flex-start;
  border-top: 1px solid;
  border-color: rgba(40, 48, 61, 0.2);
  margin-bottom: 14px;
}
.modal .connection-request__price li {
  text-align: left;
}

.overlay-show {
  opacity: 1;
  pointer-events: initial;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}