.button {
  display: block;
  text-align: center;
  padding: 12px 24px;
  background: #ef3024;
  border-radius: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: 1px solid;
  border-color: #ef3024;
  max-width: max-content;
  transition: all 0.3s;

  &:hover {
    border-color: #C70000;
    background: #C70000;
    color: #ffffff;
  }

  &--transparent {
    background-color: transparent;
    color: #ef3024;
  }
}
