.button {
  display: block;
  text-align: center;
  padding: 12px 24px;
  background-color: #ef3024;
  border-radius: 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border: 1px solid;
  border-color: #ef3024;
  max-width: max-content;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;

  span {
    pointer-events: none;
  }

  &_text {
    position: relative;
    z-index: 4;
    pointer-events: none;
  }

  &_hover {
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #c70000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width 0.6s, height 0.6s, color 0.3s, background-color 0.4s;
  }


  &--transparent {
    background-color: transparent;
    color: #ef3024;
  }
  &--white {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }
  &--ghost {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #EF3024;
  }
  &--slider {
    border-color: #ffffff;
    background-color: #ffffff;
    position: relative;
    width: 96px;
    height: 96px;
    max-width: 96px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    line-height: 0;
    font-size: 0;
    z-index: 11;

    &::after {
      display: block;
      content: "";
      width: 29px;
      height: 52px;
      background-image: url(../img/icons/slider-prev.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      z-index: 2;
      pointer-events: none;
    }
    &.next::after {
      background-image: url(../img/icons/slider-next.svg);
    }

    &:hover {
      &::after {
        background-image: url(../img/icons/slider-prev-white.svg);

      }
      &.next::after {
        background-image: url(../img/icons/slider-next-white.svg);
      }
    }
  }
  &--clear {
    background-color: #ffffff;
    border-color: transparent;
    color: #ef3024;
  }

  &--center {
    margin: 0 auto;
  }
  &--fatty {
    padding: 15px 59px;
  }
  &--white-mod {
    background-color: #ffffff;
    color: #EF3024;
    border-color: #ffffff;
  }
  &--big {
    padding: 15px 62px;
  }

  &:hover {
    border-color: #C70000;
    background-color: #C70000;
    color: #ffffff;

    .button_hover {
      width: 1000px;
      height: 1000px;
      pointer-events: none;
    }
  }
}
