.tech-list {
  padding: 120px 0 90px;
  a {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #28303d;
    margin-bottom: 0.5em;
    max-width: max-content;
  }
}
