.about {
  padding: 50px 0 64px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 38px;
  }
  &__image {
    margin-bottom: 19px;
    border-radius: 20px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #28303d;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: rgba(#4f5661, 0.8);
    opacity: 0.8;
    margin: 0;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(#4f5661, 0.8);

    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    & + .button--center {
      margin-top: 32px;
      max-width: max-content;
      padding: 12px 65px;
    }
  }
}
