.channels {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 96px);
    gap: 32px;
    position: relative;
  }
  &__group:not(:last-child) {
    margin-bottom: 43px;
  }

  /* Убираем стандартный маркер Chrome */
  details summary::-webkit-details-marker {
    display: none;
  }
  /* Убираем стандартный маркер Firefox */
  details > summary {
    list-style: none;
  }

  &__link {
    display: block;

    img {
      display: block;
      margin: auto;
      margin-bottom: 10px;
      border-radius: 20px;
      padding: 8px;
      transition: all 0.3s;
      background-color: transparent;
    }
  }
  &__name {
    display: block;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    margin: 0;
    color: #28303d;
  }
  &__details {
    background: #d6f1ff;
    border-radius: 20px;
    padding: 32px 128px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11;
    margin-top: 16px;

    display: grid;
    gap: 32px;
    grid-template-columns: 96px 1fr;
    align-items: center;

    h3 {
      display: block;
      margin: 0;
      font-weight: 500;
      font-size: 24px;
      color: #28303d;
      margin-bottom: 5px;
    }

    p {
      display: block;
      margin: 0;
    }
  }
  &__details-img {
    border-radius: 12px;
    overflow: hidden;
    width: 96px;
    height: 96px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  details[open] {
    &:after {
      content: "";
      display: block;
      width: 32px;
      height: 16px;
      background-image: url(../img/details-arrow.svg);
      background-repeat: no-repeat;
      position: absolute;
      margin-left: 32px;
    }

    img {
      background: #d6f1ff;
    }
  }
}
