.rates {
  padding: 32px 0 64px;
  &__group:not(:last-child) {
    margin-bottom: 42px;
  }

  .title {
    margin-bottom: 0;
    color: #28303D;
  }

  &__list {
    
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
  }

}
