.solo-slider {
  display: block;
  margin-bottom: 32px;
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 96px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__left {
    display: block;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    background: #f7f8fb;
    border-radius: 20px;
    padding: 24px;
    .swiper {
      background-color: #fff;
      border-radius: 20px;
    }

    .swiper-slide {
      width: 100%;
      padding: 23px;
      background-color: #fff;
      height: initial !important;
      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
      }
    }
  }
  &__right {
    display: block;
    margin-left: auto;

    .swiper {
      // padding-left: 23px;
      overflow: initial;
    }

    .swiper-slide {
      padding: 10px;
      max-width: 96px;
      position: relative;
      height: initial !important;
      img {
        display: block;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 12px;
        overflow: hidden;
        pointer-events: none;
        position: relative;
        z-index: 11;
      }
    }
    .swiper-slide-thumb-active {
      background-color: #d6f1ff;
      border-radius: 20px;
      z-index: 11;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-color: #d6f1ff;
        position: absolute;
        z-index: 0;
        top: calc(50% - 12px);
        left: -12px;
        transform: rotate(45deg);
      }
    }
  }

  .button--slider {
    width: 64px;
    height: 64px;
    border-color: #ef3024;
    background-color: #ef3024;
    position: absolute;
    top: calc(50% - 32px);
    left: 24px;
    z-index: 99;

    &::after {
      display: none;
    }
    svg {
      width: 20px;
      height: 37px;
      pointer-events: none;
    }

    &.next {
      left: auto;
      right: 24px;
    }
    &:hover {
      border-color: #c70000;
      background-color: #c70000;
    }
  }
}
