.header__mobile-navigation .header__navigation-link {
  padding: 24px 0;
}
.header__mobile-buttons .button {
  max-width: 100%;
  padding: 11px 16px;
}

.promo__grid {
  padding: 0 40px 40px 40px;
  grid-template-columns: 1fr;
}
.promo__image {
  margin-left: initial;
  margin: 0 auto;
}
.promo__title {
  margin-bottom: 16px;
  font-size: 30px;
}

@media (max-width: 760px) {
  .filter__flex {
    display: grid;
    grid-template-columns: auto;
  }
}
@media (max-width: 750px) {
  .rate-card__decorate {
    font-size: 30px;
    gap: 12px;
  }
  .rate-card__title:after {
    width: 40px;
    height: 40px;
  }
  .rate-card {
    padding: 21px 20px 20px;
  }
}
@media (max-width: 735px) {
  .header__buttons .button {
    display: none;
  }
  .header__buttons .button--menu {
    display: flex;
    margin-left: initial;
  }
  .header__support {
    display: none;
  }
  .header__social {
    display: none;
  }
  .header__logo {
    margin-right: initial;
  }
  .header__top {
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .rates__list {
    grid-template-columns: 1fr;
  }
}