.footer {
  &__support-grid {
    gap: 42px 16px;
    grid-template-columns: 1fr;
}
&__copyright {
  span {
    margin-right: 0;
    display: block;
  }
}

}

.filter {
  &__group--mod {
    .filter__button {
      padding: 12px 16px;
    }
  }
  .button--fatty {
    padding: 11px 59px;
}
  
}