.header {
  &__mobile-navigation {
    .header__navigation-link {
      padding: 24px 0;
    }
  }
  &__mobile-buttons {
    .button {
      max-width: 100%;
      padding: 11px 16px;
    }
  }
}
.promo {
  &__grid {
    padding: 0 40px 40px 40px;
    grid-template-columns: 1fr;
  }
  &__image {
    margin-left: initial;
    margin: 0 auto;
}
&__title {
  margin-bottom: 16px;
  font-size: 30px;
}
}

@media (max-width: 760px) {
  .filter__flex {
    display: grid;
    grid-template-columns: auto;
  }
}

@media (max-width: 750px) {
  .rate-card__decorate {
    font-size: 30px;
    gap: 12px;
  }
  .rate-card__title:after {
    width: 40px;
    height: 40px;
  }
  .rate-card {
    padding: 21px 20px 20px;
  }
}

@media (max-width: 735px) {
  .header {
    &__buttons {
      .button {
        display: none;

        &--menu {
          display: flex;
          margin-left: initial;
        }
      }
    }
    &__support {
      display: none;
    }
    &__social {
      display: none;
    }
    &__logo {
      margin-right: initial;
    }
    &__top {
      margin-bottom: 10px;
    }
  }
}
