.footer__contacts {
  flex-wrap: wrap;
}
.footer__copyright {
  width: 100%;
  max-width: 100%;
  margin-top: 32px;
  display: block;
}

@media (max-width: 1023px) {
  .filter__flex {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
    justify-content: flex-start;
  }
  .filter__group {
    margin: initial;
    max-width: max-content;
  }
}