.header {
  &__mobile-navigation {
    .header__navigation-link {
      padding: 24px 0;
    }
  }
  &__mobile-buttons {
    .button {
      max-width: 100%;
      padding: 11px 16px;
    }
  }
}

@media (max-width: 735px) {
  .header {
    &__buttons {
      .button {
        display: none;
  
        &--menu {
          display: flex;
          margin-left: initial;
        }
      }
    }
    &__support {
      display: none;
    }
    &__social {
      display: none;
    }
    &__logo {
      margin-right: initial;
    }
    &__top {
      margin-bottom: 10px;
    }
  }
}
