.button {
  padding: 12px 12px;
}

.mobile-nivigation {
  padding-top: 111px;
}
.mobile-nivigation .navigation-list {
  grid-template-columns: 1fr;
  margin-bottom: 26px;
}
.mobile-nivigation .navigation-list a {
  font-size: 18px;
  padding: 9px 0;
}
.mobile-nivigation .navigation-list a:after {
  width: 30px;
  height: 30px;
  background-size: contain;
}
.mobile-nivigation .navigation-list a:before {
  border-radius: initial;
}
.mobile-nivigation .navigation-list a:hover::before {
  left: -20px;
  right: -20px;
}
.mobile-nivigation__title {
  font-size: 18px;
}
.mobile-nivigation__support-grid a {
  font-size: 16px;
}
.mobile-nivigation__contact-flex .header__mobile-phone {
  width: 100%;
  max-width: 100%;
  margin-bottom: 22px;
}

.hero .title {
  font-size: 23px;
}
.hero .title span {
  font-size: 36px;
}
.hero .title + .button {
  margin-top: 16px;
  padding: 11px 24px;
}

.footer {
  padding: 32px 0 30px;
}
.footer__grid {
  grid-template-columns: 1fr;
}
.footer__contacts {
  grid-column: initial;
}
.footer__contacts {
  display: block;
  margin-top: 32px;
}
.footer .phone {
  margin-right: initial;
  margin-bottom: 20px;
}
.footer__buttons {
  margin-right: initial !important;
}

.promo {
  padding: 0;
}
.promo__grid {
  padding: 0 20px 20px 20px;
  padding-bottom: 40px;
}

@media (max-width: 600px) {
  .button--slider {
    opacity: 0;
    pointer-events: none;
  }
  .mobile-nivigation__contact-flex {
    display: grid;
    gap: 16px;
    grid-template-columns: auto;
    justify-content: flex-start;
  }
  .mobile-nivigation__buttons .button {
    padding: 11px 20px;
  }
}