.footer__support-grid {
  gap: 42px 16px;
  grid-template-columns: 1fr;
}
.footer__copyright span {
  margin-right: 0;
  display: block;
}

.filter__group--mod .filter__button {
  padding: 12px 16px;
}
.filter .button--fatty {
  padding: 11px 59px;
}