.button {
  padding: 12px 12px;
}

.header__buttons .button {
  display: none;
}
.header__buttons .button--menu {
  display: flex;
  margin-left: initial;
}
.header__support {
  display: none;
}
.header__social {
  display: none;
}
.header__logo {
  margin-right: initial;
}
.header__top {
  margin-bottom: 10px;
}
.header__mobile {
  padding-top: 0;
}
.header__mobile-navigation .navigation-list {
  grid-template-columns: 1fr;
  margin-bottom: 26px;
}
.header__mobile-navigation .header__navigation-link {
  font-size: 18px;
  padding: 9px 0;
}
.header__mobile-navigation .header__navigation-link:after {
  width: 30px;
  height: 30px;
  background-size: contain;
}
.header__mobile-navigation .header__navigation-link:before {
  border-radius: initial;
}
.header__mobile-navigation .header__navigation-link:hover::before {
  left: -20px;
  right: -20px;
}
.header__mobile-title {
  font-size: 18px;
}
.header__mobile-support-grid a {
  font-size: 16px;
}
.header__mobile-contact-flex .header__mobile-phone {
  width: 100%;
  max-width: 100%;
  margin-bottom: 22px;
}
.header__mobile {
  margin-top: 111px;
}

.hero .title {
  font-size: 23px;
}
.hero .title span {
  font-size: 36px;
}
.hero .title + .button {
  margin-top: 16px;
  padding: 11px 24px;
}

.footer {
  padding: 32px 0 30px;
}
.footer__grid {
  grid-template-columns: 1fr;
}
.footer__contacts {
  grid-column: initial;
}
.footer__contacts {
  display: block;
  margin-top: 32px;
}
.footer .phone {
  margin-right: initial;
  margin-bottom: 20px;
}
.footer__buttons {
  margin-right: initial !important;
}